body{
  margin-top: 100px;
  background: black;
}

.login{
  margin: 0 auto;
  width: 200px;
  border: 1px solid red;
  padding: 10px;
  box-shadow: 0px 0px 5px red;
}

.login__user,
.login__pass{
  box-sizing: border-box;
  width: 100%;
  border: 0;
  border-bottom: 1px solid red;
  margin-bottom: 15px;
  background: none;
  color: white;
}

.login__submit{
  width: 100%;
  background: red;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}

.registro{
  margin: 0 auto;
  width: 200px;
  border: 1px solid red;
  padding: 10px;
  box-shadow: 0px 0px 5px red;
}

.registro__name,
.registro__email,
.registro__date,
.registro__user,
.registro__pass,
.registro__rpass{
  box-sizing: border-box;
  width: 100%;
  border: 0;
  border-bottom: 1px solid red;
  margin-bottom: 15px;
  background: none;
  color: white;
}

.registro__regist{
  width: 100%;
  background: red;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}
